* {
  margin: 0;
  padding: 0;
}
/* HEAD */

.head_body{
    max-width: 1306px;
   margin: 0px auto;
}
.head_title{ 
    margin: 55px 0px 63px 0px;  
}
.title{ 
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    align-items: center;
    position: relative;
}
.head_row{
    display: flex;
    margin: 0px -10px 100px 0px;
}
.body_column{
    padding: 0px 10px;
    flex: 0 0 25%;
}
.about{

}
.about_icon{  
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_text{
    position: relative;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
margin: 51px 0px 0px 0px;
min-width: 313px;
max-height: 108px;
}
.head_footer{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;

align-items: center;
text-align: center;
margin: 80px 0px 50px 0px;

}
/*ARTICLE*/
.article_body{
    max-width: 1470px;
    min-height: 1135px;
    background: url('back.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
.content_body{
display: flex;
    }
.article_text{
max-width: 746px;
background: rgba(30, 6, 33, 0.9);
opacity: 0.5;
margin: 110px 0px 0px 100px;
min-height: 200px;
}
.text{
color: white;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
padding: 50px;
}
.article_img{
    width:100%;
    
    margin: 20px 0px 0px 65px;
}
.article_form{
    display: grid;
    justify-content: center;
    margin: 200px 0px 0px 0px;
}
.form_text{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
text-align: center;
}
input{
    background: rgba(30, 6, 33, 0.66);
    height: 72px;
    width: 463px;
    opacity: 0.6;
    font-size: 35px;
    color: white;
    text-align: center;
}
button{
    height: 74px;
    width: 460px;
    opacity: 0.9;
}
.body_foot{
    max-width: 1490px;
    height: 150px;
    background-color:pink;
    background-size: 100% 100%;
}


@media (max-width: 1200px){
    body{
        max-width: 970px;
    }
    
}
@media (max-width: 992px){
    body{
        max-width: 750px;
    }
    .content_body{
        display: block  ;
    }
    
}
@media (max-width: 767px){
    body{
        max-width: 575px;  
    }
    .article_body{
        background-size: cover;
        overflow: hidden;
    }
    .head_row{
        flex-direction: column;
        display: flex;
    }
    .content_body{
        display: block  ;
    }
    .text {
       font-size: 18px;
    }
    .article_text{
        align-items: center;
        margin-right: 12%;
        margin-left: 12%;
        
    }
    .article_img{
        margin: 15px 0px 0px 0px;  
        max-width: 100%;
    }
    .form_text{
        font-size: medium;
    }
}

