body{
    width: 99%;
    height: 1900px;
    border: 3px solid red; 
    border-radius: 30px;
    position: relative;
    
}
button{
    border-radius: 15px;
    width: 100%;
   height: 70px;
    border: 2px solid #000;
    background: pink;
    position: fixed;
    margin-top: 42% ;
    font-size: 40px;
   
        
}
